    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Landing-Page</h2>
              <br/>
              <h2>About Alice</h2>
              <br/>
                <p>Alice works at the University of Sussex in the  <a href="http://startbootstrap.com/template-overviews/landing-page/">Department of Evolution Behaviour and Environment</a>. She also plays the cello</p>
                <br/>
              </div>
        </div>
    </section>
